server:
  port: 8080
spring:
  application:
    name: ea_badge
  datasource:
    url: jdbc:mysql://localhost:3306/ea_badge
    username: root
    password: rootroot
    driverClassName: com.mysql.cj.jdbc.Driver
    hikari:
      maximumPoolSize: 10
  jpa:
    show-sql: true
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
keycloak:
  realm: EA-Badge-Realm
  auth-server-url: http://localhost:8080/
  ssl-required: none
  resource: ea-badge
  credentials:
    secret: 9JTFJ1oigyjjENYP3IlDw8wmEGuXNBSY
  use-resource-role-mappings: true
  bearer-only: true
logging:
  file:
    name: /Coding/Logging/${spring.application.name}/log
